/*fonts*/

@import "fonts.css";


/*Specification*/

*{
	box-sizing: border-box;
}

*:focus {
	outline: none !important;
	box-shadow: none !important;
}

body{
	font-family: "Avenir Next LT Pro", "Arial", sans-serif;
	/*padding: 0 15px 0 0;*/
	margin: 0;
	letter-spacing: 0.02em;
	font-size: 14px;
	color: #b4b4b4;
	transition: all 0.5 ease;
	font-weight: 100;
	line-height: 1.5em;
	background-color: #fff;
	overflow-x: hidden;
}

section, form{
	overflow-x: hidden;
}

.container{
	margin: 0 auto;
	padding: 0 25px;
	max-width: 1170px;
	width: 100%;
	height: 100%;
}

.div, p, form, input, a, span, button{
	/*box-sizing: border-box;*/
}

ul, li{
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;
	line-height: 1.2em;
	text-align: center;
}

p{
	text-align: left;
}

h1{
	font-size: 65px;
	color: #fff;
	font-weight: 700;
	text-align: left;
	line-height: 70px;
}

h2{
	font-size: 30px;
	color: #273164;
	text-align: left;
}

h3{
	font-size: 24px;
	color: #fff;
	font-weight: 600;
}



h4{
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	color: #f45e1f;
}

a, a:hover, a:active{
	text-decoration: none;
}

.btn{
	color: #f45e1f;
	font-size: 15px;
	font-weight: 600;
	background-color: #fff9f6;
  	border-radius: 20px;
	cursor: pointer;
  	line-height: 1.2;
  	width: 160px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	border: 2px solid #fff9f6;
	transition: all .2s ease;
}

.btn:hover {
	background-color: transparent;
	color: #fff;
}

body {
	width: 100vw;
	overflow-x: hidden;
}
.layer0 {
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	position: fixed;
}

.layer0._animate {
	opacity: 1;
	background-color: #fff;
	transition-duration: .7s;
}

.layer0._animate-Active {
	background-color: transparent;
}


/*Header*/

header{
	background-image: url(../img/header-bg.jpg);
	background-repeat: no-repeat;
	background-color: #bbb;
	min-height: 100vh;
	width: 100vw;
	background-size: cover;
	background-position: center;
	padding-top: 5px;
}

header .container{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	min-height: 100vh;
}

.head{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#menu__toggle{
	opacity: 0;
	position: fixed;
	top: 1px;
	pointer-events: none;
}

.logo {
	position: relative;
}

.logo:after{
	content: "";
	position: absolute;
	background-color: #fff;
	bottom: -2px;
	height: 1px;
	width: calc(100% + 10px);
	left: -5px;
	transform: translateY(-10px);
	opacity: 0;
	transition: all .2s ease;
}

.logo:hover:after {
	opacity: 1;
	transform: translateY(0);
}

.nav__list {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.nav__list::after {
	content: "";
	position: absolute;
	width: calc(100% - 60px);
	margin-left: 30px;
	height: 1px;
	bottom: -10px;
	background-color: #fff;
	opacity: 0.5;
}

.nav__item {
	position: relative;
	transition: all .2s ease;
}

.nav__item:hover {
	color: #fff;
}
.nav__item:after {
	content: "";
	position: absolute;
	background-color: #f45e1f;
	bottom: -11px;
	width: calc(100% - 46px);
	transform: translateX(23px);
	height: 0px;
	opacity: 0;
	left: 0;
	z-index: 3;
	transition: all .2s ease;

}

.nav__item:hover:after {
		opacity: 1;
		height: 3px;
}

.nav__link {
	font-size: 15px;
	font-weight: 600;
	padding: 30px;
	color: #eee;
}

	.btn-request:hover {
		color: 
	}
.offer{
	width: 700px;
	margin-left: 6%;
	margin-top: 4%;
}

.offer__text{
	text-align: left;
	font-weight: 400;
	font-size: 15px;
	color: #fff;
	width: 430px;
	line-height: 25px;
	margin: 7px 0 50px;
}

.get-started-btn{
	display: inline-block;
}

.locations-btn{
	display: inline-block;
	margin-left: 25px;
	margin-left: 5px;
}

.pin{
	margin-right: 8px;
}

.learn{
	display: flex;
	margin-left: 6%;
	width: 65%;
	align-items: center;
	margin-bottom: -2%;
	color: #fff;
}

.learn:hover .learn__line{
	background-color: #eabe28;
}

.learn:hover .learn__text{
	color: #eabe28;
}

.learn:hover .icon-arrow{
	color: #eabe28;
}
.learn:hover .learn__circle{
	border-color: #eabe28;
}

.learn__text{
	margin-right: 5%;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	transition: all .2s ease;
}

.learn__line {
	content: "";
  	background-color: #fff;
  	opacity: 0.4;
  	height: 1px;
  	width: 60%;
  	transition: all .2s ease;
}

.learn__circle{
	width: 60px;
	height: 60px;
	border: 1px solid #fff;
	border-radius: 50%;
	align-items: center;
	position: relative;
	transition: all .2s ease;
}

.icon-arrow:before {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: all .2s ease;
}

.scroll{
	width: 100%;
	background-color: #fafbfd;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 48px;
	font-weight: 600;
	height: 48px;
	color: #b4b4b4;
}


/*Cleaning*/

.cleaning {
	background-color: #fafbfd;
	padding: 100px 0 150px;
}
.cleaning .container {
	max-width: 735px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 5px;

}
.cleaning__item {
	flex-shrink: 1;
	max-width: 330px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 35px;
	margin-right: 10px;
	transition: all .2s ease;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.cleaning__item:last-child {
	margin: 0;
}

.cleaning__item:hover {
	background-color: #273164;
}

.cleaning__icon {
	color: #f45e1f;
	font-size: 53px;
}

.cleaning__item:hover .cleaning__icon {
	color: #fff;
}

.cleaning__item h3{
	text-align: left;
	color: #273164;
	margin: 15px 0 10px 0;
}

.cleaning__item:hover h3 {
	color: #fff;
}

.cleaning__text {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 20px;
}

.cleaning__item:hover .cleaning__text {
	color: #fff;
}

.cleaning__btn {
	color: #f45e1f;
	border-bottom: #f45e1f solid 1px;
	opacity: 0.9;
	font-size: 13px;
	align-self: flex-start;
	line-height: 17px;
	transition: all 0.01s ease;
}

.cleaning__btn:hover {
	color: #fff;
	border-bottom-color: #fff; 
}


/*==========================================*/

	/*Way*/

.way {
	padding: 130px 0 150px;
}
.way .container {

}
.way__title {
	text-align: left;
	margin-bottom: 20px;
}
.way__content {
	display: flex;
	justify-content: space-between;
}
.way__content__column {
	margin-right: 50px;
	flex: 0 1 435px;
}

.way__content__column:last-child{
	margin: 0;
}

.way__content__column p {
	margin-bottom: 20px;
}

.way__content__column p:last-child {
	margin: 0;
}


/*==========================================*/

	/*Become*/


.become {
	background-color: #f6f7fb;
	padding-bottom: 85px;
	position: relative;
	overflow-x: visible;
}
.become__content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 440px;
}

.become__content::after {
	position: absolute;
	right: 0;
	content: " ";
	background-image: url(../img/become-decorative-img.png);
	background-repeat: no-repeat;
	background-position: right center;
	width: calc(100vw - 495px);
	height: 688px;
	background-color: transparent;
	pointer-events: none;
}

.become__img {
	flex: 0 1 100%;
	margin-bottom: 80px;
	margin-top: -100px;
}
.become-img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}

.become__title {
	margin-bottom: 20px;
}
.become__subtitle {
	margin-bottom: 20px;
}
.become__text {
	margin-bottom: 30px;
	color: #676f92;
}
.become__text > span {
	font-weight: 600;
}
.become__advantages {}
.become__advantages__item {
	margin-bottom: 15px;
	padding-left: 45px;
	background-image: url(../img/check-icon.png);
	background-repeat: no-repeat;
	background-position: left center;
	font-weight: 600;
	color: #273164;
}


/*=================================================*/
	/*Book*/

.book {
	padding: 160px 0;
	margin-bottom: 150px;
	position: relative;
}

.book .container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.book__column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.book__column:first-child {
	max-width: 370px;
	width: 100%;
}

.book__column:last-child {
	max-width: 500px;
	width: 100%;
	background-color: #273164;
	padding: 50px 75px;
	color: #fff;
	font-size: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.book__column h4 {
	font-weight: 600;
	margin-bottom: 10px;
}

.book__text {
	flex: 1 1 auto;
	padding: 50px 0 65px 0;
	color: #676f92;
}

.book__type {
	-ms-grid-row-align: stretch;
	    align-self: stretch;
	margin-bottom: 50px;
}

.type__text {
	color: #f45e1f;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 15px;
}

.type__radio {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.book__type input {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
	z-index: -10;
	pointer-events: none;
}
.book__type input + label{
	display: block;
	color: #666e91;
	font-size: 15px;
	font-weight: 600;
	width: 160px;
	min-height: 45px;
	border: 2px solid #d1d3de;
	border-radius: 30px;
	background-color: transparent;
	text-align: center;
	line-height: 45px;
	cursor: 	pointer;
}

.book__type label:last-child {
	margin: 0 10px 0 10px;
}
.book__type input:checked + label{
	color: #f45e1f;
	border-color: #fbc7b1;
	background-color: #fff9f6;
}

.book__number {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	-ms-grid-row-align: stretch;
	    align-self: stretch;
	margin-right: 20px;
}
.number__item {
	flex: 0 0 150px;
	display: flex;
	flex-direction: column;
}
.number__text {
	color: #f45e1f;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 10px;
	flex: 1 1 auto;
}
.number__input {
	display: flex;
	justify-content: center;
}
.number__input input {
	text-align: center;
	width: 30px;
	height: 35px;
	border: none;
	background-color: transparent;
	line-height: 35px;
	font-weight: 600;
}



/*Это для браузера Chrome:*/

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*Это для браузера Firefox:*/

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
/*Для других*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number__button {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: 1px solid #eaeaea;
	background-color: #fff;
	cursor: pointer;
}

.book__subtotal {
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 20px;
	text-align: left;
}

#price{
	margin: 0 5px 0 20px;
}

#timeOfCleaning {
	color: #f45e1f;
}

#hours {
	color: #f45e1f;	
}

.book__numbers {
	min-width: 245px;
}

.book__cleaning {
	margin-bottom: 5px;
}
.book__includes {
	margin-bottom: 35px;
}
.book__user-contacts {
	display: flex;
	flex-direction: column;
}

.contacts__text {
  font-size: 10px;
  color: #f45e1f;
  text-transform: uppercase;
  line-height: 2.4;
}

.book__user-contacts input{
	font-size: 20px;
	display: block;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #7d83a2;
	line-height: 1.2em;
	color: #fff;
	margin-bottom: 15px;
	padding-bottom: 5px;
}

.book__user-contacts input:last-child {
	margin-bottom: 35px;
}

::-webkit-input-placeholder {
	color:#fff;
	font-size: 14px;;
	opacity: 0.95;
}

::-moz-placeholder{
	color:#fff;
  	font-size: 14px;
  	opacity: 0.95;	
  }
:-moz-placeholder{
	color:#fff;
  	font-size: 14px;
  	opacity: 0.95;	
 }
:-ms-input-placeholder{
	color:#fff;
	font-size: 14px;
	opacity: 0.95;
}

.book__submit {
	color: #f45e1f;
	font-size: 20px;
	font-weight: 600;
	background-color: transparent;
	border: none;
	background-image: url(../img/arrow.png);
	background-position: right center;
	background-repeat: no-repeat;
	padding: 0 25px 0 0;
	cursor: pointer;
	margin-left: -45px;
}

/*===================================*/
	/*Testimonials*/

.testimonials {
	background-color: #f6f7fb;
	padding: 160px 0 80px;
	
}

.testimonials > .container {
	width: 100vw;
	max-width: 1630px;
	overflow-x: hidden;
	padding: 0;
}

.testimonials >  .container {
	padding: 25px 0;
}
.testimonials__title {
	margin-bottom: 60px;
}
.testimonials__slider {
	padding: 25px 0;
}
.testimonial {
	flex: 0 1 400px;
	padding: 50px 30px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
}
.testimonial__img {
	margin-bottom: 20px;
}

.testimonial__text {
	color: #273164;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 40px;
	flex: 1 1 auto;
}

.author__name {
	font-size: 15px;
	font-weight: 600;
	color: #f45e1f;
}
.author__city {
	color: #b4b4b4;
	font-size: 14px;
	font-weight: 400;
}

.slick-list {
	transform: translateX(240px);
}

/* Лента слайдов */
.slick-track{
	display: flex;
}
/* Слайд */
.slick-slide{
	margin-right: 100px;
}

/*===================================*/
	/*Feedback*/

.feedback {
	background-color: #f6f7fb;
	padding: 80px 0 160px;
}
.feedback .container {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.feedback__title {
	font-size: 25px;
	font-weight: 600;
	text-align: center;
	max-width: 600px;
	color: #273164;
	margin-bottom: 40px;
}
.feedback__btns {
	max-width: 360px;
	display: flex;
	justify-content: center;


}
.feedback__btn {
	margin-right: 25px;
	color: #676f92;
	border: 1px solid #676f92;
	background-color: transparent;
	transition: all .1s ease;

}

.feedback__btn:hover {
	border-color: #f5c2ae;
	background-color: #fff9f6;
	color: #f45e1f;
}

.feedback__btn:last-child {
	margin: 0;
}


/*=================================================*/
	/*Footer*/

footer {
	overflow-x: hidden;
}

.column__container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 110px;
}
.footer__column {
	display: flex;
	flex-direction: column;
	max-width: 200px;
}
.footer__column__content {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	justify-content: space-between;
}

.footer__column__title {
	font-weight: 600;
	font-size: 23px;
	color: #273164;
	text-align: left;
	margin-bottom: 15px;
	padding: 15px;

}

h2.footer__column__title {
	font-size: 30px;
	padding: 15px 0;
	margin-top: -9px;
}

.footer__item {
	margin-bottom: 3px;

}

.footer__item_social {
	display: flex;
	flex: 1 1 auto;
	align-items: flex-end;
}

.social {
	display: flex;
	justify-content: space-between;
	max-width: 140px;
	padding-left: 15px;
	flex: 1 1 auto;
}

.footer__item:last-child {
	margin: 0;
}

.without-link {
	text-align: left;
	font-size: 14px;
	font-weight: 600;
	color: #676f92;
	padding: 5px 15px;
}

.footer__title__link {
	color: #273164;;
	padding: 15px;
}
.footer__link {
	display: block;
	text-align: left;
	font-size: 14px;
	font-weight: 600;
	color: #676f92;
	width: 100%;
	height: 100%;
	padding: 5px 15px;
}

.footer__link_email {
	color: #f45e1f;
	text-decoration: underline;
}

.copyright {
	padding: 30px 0;
	border-top: 2px solid #f1f2f5;
	color: #676f92;
}

.copyright br {
	display: none;
}

@media(max-width: 1630px) {
	.testimonials > .container {
		max-width: 1170px;
		width: 100%;
	}
	.slick-list {
		transform: translateX(0);
	}
}

@media(max-width: 1170px) {


	/*Become*/

	.become__content::after {
		background-position: left center;
	}
}

@media screen and (max-width: 1030px) {


	/*Header*/

	.nav__link{
		padding: 15px;
	}
}


@media(max-width: 934px) {
	.book .container {
		flex-direction: column;
		align-items: center;

	}
	.book__column {
		margin-bottom: 30px;
	}
	.book__column:last-child {
		/*transform: translate(-25px);*/
		max-width: 100vw;
		width: 100vw;
		padding: 50px 0;
		margin-left: -25px;
		margin-bottom: 0;
	}
}


@media (max-width: 875px) {


	/*Header*/

	
	.head {
		position: relative;
		justify-content: center;
	}

	.btn-request {
		/*position: static;*/
		display: block;
		margin: 0 auto;
		margin-top: 10px;
	}
	
	/* стилизуем кнопку */
	/* скрываем чекбокс */
	#menu__toggle {
	  opacity: 0;
	}
	/* стилизуем кнопку */
	.menu__btn {
	  display: flex; /* используем flex для центрирования содержимого */
	  align-items: center;  /* центрируем содержимое кнопки */
	  position: fixed;
	  top: 20px;
	  left: 20px;
	  width: 26px;
	  height: 26px;
	  cursor: pointer;
	  z-index: 1;
	}
	/* добавляем "гамбургер" */
	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
	  display: block;
	  position: absolute;
	  width: 100%;
	  height: 2px;
	  background-color: #26EFDD;
	  transition-duration: .2s;
	}
	.menu__btn > span::before {
	  content: '';
	  top: -8px;
	}
	.menu__btn > span::after {
	  content: '';
	  top: 8px;
	}
	
	/* контейнер меню */
	nav {
	  display: flex;
	  flex-direction: column;
	  position: fixed;
	  top: 0;
	  left: -300px;
	  width: 300px;
	  height: 100%;
	  padding: 80px 0;
	  list-style: none;
	  text-align: center;
	  background-color: #ECEFF1;
	  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	  border-right: 10px solid #f45e1f;
	  overflow-x: hidden;
	  overflow-y: scroll;
	}
	
	.nav__list{
		flex: 1 1 auto;
		display: block;
	}

	.nav__list._animate-top{
		opacity: 1;
		transform: none;
	}
	
	/* элементы меню */
	.nav__link {
		align-items: center;
		width: 100%;
		color: #000;
		transition-duration: .25s;
		display: block;
		width: 100%;
		height: 100%;
	}
	.nav__item:hover {
	  background-color: #CFD8DC;
	}

	.nav__item:hover:after {
		display: none;
	}
	
	#menu__toggle:checked ~ .menu__btn > span {
	  transform: rotate(45deg);
	}
	#menu__toggle:checked ~ .menu__btn > span::before {
	  top: 0;
	  transform: rotate(0);
	}
	#menu__toggle:checked ~ .menu__btn > span::after {
	  top: 0;
	  transform: rotate(90deg);
	}

	.offer{
		width: 100%;
		margin: auto;
	}
	h1{
		text-align: center;
		font-size: 8vw;
		line-height: 7vw;
		margin-bottom: 20px;
	}
	
	.learn{
		margin: 1% auto 10% auto;
		width: 90%;
		max-width: 526px;
	}
	
	.learn__line{
		width: 30vw;
	}


	/*Footer*/

	.column__container {
		flex-direction:  column;
		align-items: center;

	}

	.footer__column {
		margin-bottom: 15px;
		width: 200px;
		align-items: flex-start;
	}

	.footer__column:last-child {
		margin: 0;
	}

	.footer__column__title {
		margin: 0;
		cursor: pointer;
	}



	.footer__column__title {
		padding: 5px;
	}

	.footer__column__content {
		height: 0;
		overflow-y: hidden;
	}

	.footer__column__content.no-animate {
		opacity: 1;
		height: 100%;
		overflow-y: none;
	}

	.cleaning {
		overflow-x: hidden;
	}
	/*margins*/
	.book {
		padding: 60px 0 0;
		margin-bottom: 0px;
	}

	.testimonials {
		padding: 30px;
	}

	.testimonials__title {
		margin-bottom: 0;
	}
	.feedback {
		padding-top: 0;
		padding-bottom: 45px;
	}

	.column__container {
		padding-bottom: 30px;
		margin-bottom: 30px;
	}

}

@media screen and (max-width: 700px){


	/*Cleaning*/

	.cleaning .container {
		flex-direction: column;
		max-width: 330px;
	}

	.cleaning__item {
		margin-bottom: 30px;
		padding: 25px;
	}


	/*Become*/

	.become__content::after {
		display: none;
	}

	.become__content {
		margin: 0 auto;
	}
}

@media screen and (max-width: 500px){


	/*Header*/


	.offer__text{
		font-size: 4vw;
		line-height: 5vw;
		margin-top: 10px;
		width: 100%;
	}

	
	.get-started-btn{
		display: block;	
		margin: auto;
	}

	.locations-btn{
		display: block;	
		margin: 20px auto 0 auto;
	}


	/*Way*/

	.way__content {
		flex-direction: column;
	}

	.way__content__column {
		flex: 1 1 auto;
		margin: 0 0 35px 0;
	}


	/*Book*/

	.book__text {
		max-width: 250px;
	}
	.type__radio {
		flex-direction: column;
	}

	.type__radio label {
		margin: 0 0 20px 0;
	}

	.type__radio label:last-child {
		margin: 0;
	}

	.book__number {
		max-width: 150px;
	}

	.number__item {
		margin-bottom: 30px;
	}

	.number__item:last-child {
		margin: 0;
	}

	.book__user-contacts input {
		max-width: 80%;
	}

	/*Testimonials*/

	.testimonial {
		flex: 0 1 auto;
		margin: 0 10px;
		padding: 20px 15px;
	}

	.testimonial__text {
		margin-bottom: 20px;
	}


	/*Feedback*/

	.feedback__btns {
		flex-direction: column;
	}

	.feedback__btn {
		margin: 0 0 20px 0;
	}

	/*Footer*/

	.copyright br {
		display: inline;
	}
}

@media(max-height: 650px) {
	.scroll {
		display: none;
	}

	.learn {
		margin-bottom: 10px;
	}
}

._animate {
	transition: all 0.5s ease;
	opacity: 0;
}

label._animate {
	transition-duration: 0s;
}

.offer._animate {
	transition-delay: .4s;
}
._animate-left {
	transform: translateX(-100px);
}

._animate-right {
	transform: translateX(100px);
}
._animate-top {
	transform: translateY(100%);	
}
._animate-Active {
	transform: translateX(0);
	transform: translate(0);
	opacity: 1;
}
